<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="file" type="System.Diagnostics.TextWriterTraceListener" initializeData="WebServer.log" traceOutputOptions="DateTime" />
      </listeners>
    </trace>
    <sources>
      <source name="System.Net" switchValue="All">
        <listeners>
          <add name="traces" />
        </listeners>
      </source>
      <source name="System.Net.Sockets" switchValue="All">
        <listeners>
          <add name="traces" />
        </listeners>
      </source>
      <source name="System.Net.WebSockets" switchValue="All">
        <listeners>
          <add name="traces" />
        </listeners>
      </source>
      <source name="System.Web" switchValue="All">
        <listeners>
          <add name="traces" />
        </listeners>
      </source>
      <source name="System.Web.Http" switchValue="All">
        <listeners>
          <add name="traces" />
        </listeners>
      </source>
      <source name="System.Web.WebSockets" switchValue="All">
        <listeners>
          <add name="traces" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="traces" type="System.Diagnostics.TextWriterTraceListener" initializeData="server_traces2.txt" />
    </sharedListeners>
  </system.diagnostics>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <netHttpBinding>
        <binding name="Buffered">
          <webSocketSettings transportUsage="Always" />
        </binding>
        <binding name="Streamed" transferMode="Streamed" maxReceivedMessageSize="9223372036854775807">
          <webSocketSettings transportUsage="Always" />
        </binding>
      </netHttpBinding>
      <netTcpBinding>
        <binding name="Buffered">
        </binding>
        <binding name="Streamed" transferMode="Streamed" maxReceivedMessageSize="9223372036854775807">
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="Buffered">
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="Test.WCF.UnitTest.WCF.AsyncService" behaviorConfiguration="">
        <endpoint name="" address="" behaviorConfiguration="" binding="netHttpBinding" bindingConfiguration="Buffered" contract="Test.WCF.UnitTest.WCF.IAsyncService" />
        <endpoint name="" address="netTcpBinding" behaviorConfiguration="" binding="netTcpBinding" bindingConfiguration="Buffered" contract="Test.WCF.UnitTest.WCF.IAsyncService" />
        <endpoint name="" address="wsHttpBinding" behaviorConfiguration="" binding="wsHttpBinding" bindingConfiguration="Buffered" contract="Test.WCF.UnitTest.WCF.IAsyncService" />
      </service>
      <service name="Test.WCF.UnitTest.WCF.DuplexService" behaviorConfiguration="">
        <endpoint name="" address="" behaviorConfiguration="" binding="netHttpBinding" bindingConfiguration="Buffered" contract="Test.WCF.UnitTest.WCF.IDuplexService" />
        <endpoint name="" address="netTcpBinding" behaviorConfiguration="" binding="netTcpBinding" bindingConfiguration="Buffered" contract="Test.WCF.UnitTest.WCF.IDuplexService" />
      </service>
      <service name="Test.WCF.UnitTest.WCF.RequestReplyService" behaviorConfiguration="">
        <endpoint name="" address="" behaviorConfiguration="" binding="netHttpBinding" bindingConfiguration="Buffered" contract="Test.WCF.UnitTest.WCF.IRequestReplyService" />
        <endpoint name="" address="netTcpBinding" behaviorConfiguration="" binding="netTcpBinding" bindingConfiguration="Buffered" contract="Test.WCF.UnitTest.WCF.IRequestReplyService" />
        <endpoint name="" address="wsHttpBinding" behaviorConfiguration="" binding="wsHttpBinding" bindingConfiguration="Buffered" contract="Test.WCF.UnitTest.WCF.IRequestReplyService" />        
      </service>
      <service name="Test.WCF.UnitTest.WCF.StreamService" behaviorConfiguration="">
        <endpoint name="" address="" behaviorConfiguration="" binding="netHttpBinding" bindingConfiguration="Streamed" contract="Test.WCF.UnitTest.WCF.IStreamService" />
        <endpoint name="" address="netTcpBinding" behaviorConfiguration="" binding="netTcpBinding" bindingConfiguration="Streamed" contract="Test.WCF.UnitTest.WCF.IStreamService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
