<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="file" type="System.Diagnostics.TextWriterTraceListener" initializeData="WebServer.log" traceOutputOptions="DateTime" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <netHttpsBinding>
        <binding name="AuthenticationWindows">
          <security mode="Transport">
            <transport clientCredentialType="Ntlm">
              <extendedProtectionPolicy policyEnforcement="Always" />
            </transport>
          </security>
          <webSocketSettings transportUsage="Always" />
        </binding>
      </netHttpsBinding>
    </bindings>
    <services>
      <service name="Test.WCF.NetFx50.UnitTest.WCF.DuplexService" behaviorConfiguration="">
        <endpoint name="" address="" behaviorConfiguration="" binding="netHttpsBinding" bindingConfiguration="AuthenticationWindows" contract="Test.WCF.NetFx50.UnitTest.WCF.IDuplexService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
