<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netMsmqBinding>
        <binding name="EncryptAndSign" exactlyOnce="false" useActiveDirectory="true">
          <security mode="Transport">
            <transport msmqProtectionLevel="EncryptAndSign" 
                       msmqEncryptionAlgorithm="Aes"/>
          </security>
        </binding>
      </netMsmqBinding>
    </bindings>
    <services>
      <service name="Test.WCF.Msmq.Services.HelloWorldService" behaviorConfiguration="">
        <endpoint name="" 
                  address="net.msmq://localhost/helloworldservicepublic" 
                  binding="netMsmqBinding" 
                  bindingConfiguration="EncryptAndSign" 
                  contract="Test.WCF.Msmq.Services.IHelloWorld" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>