<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="file" type="System.Diagnostics.TextWriterTraceListener" initializeData="WebServer.log" traceOutputOptions="DateTime" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
    <trust level = "Medium" />
  </system.web>
  <system.serviceModel>
    <diagnostics etwProviderId="{c651f5f6-1c0d-492e-8ae1-b4efd7c9d503}" />
    <bindings>
      <netHttpBinding>
        <binding name="NetHttpBinding">
          <webSocketSettings transportUsage="Always" />
        </binding>
        <binding name="StreamNetHttpBinding" transferMode="Streamed" maxReceivedMessageSize="9223372036854775807">
          <webSocketSettings transportUsage="Always" />
        </binding>
      </netHttpBinding>
    </bindings>
    <services>
      <service name="Test.WCF.UnitTest.WCF.AsyncService" behaviorConfiguration="">
        <endpoint name="" address="" behaviorConfiguration="" binding="netHttpBinding" bindingConfiguration="NetHttpBinding" contract="Test.WCF.UnitTest.WCF.IAsyncService" />
      </service>
      <service name="Test.WCF.UnitTest.WCF.DuplexService" behaviorConfiguration="">
        <endpoint name="" address="" behaviorConfiguration="" binding="netHttpBinding" bindingConfiguration="NetHttpBinding" contract="Test.WCF.UnitTest.WCF.IDuplexService" />
      </service>
      <service name="Test.WCF.UnitTest.WCF.RequestReplyService" behaviorConfiguration="">
        <endpoint name="" address="" behaviorConfiguration="" binding="netHttpBinding" bindingConfiguration="NetHttpBinding" contract="Test.WCF.UnitTest.WCF.IRequestReplyService" />
      </service>
      <service name="Test.WCF.UnitTest.WCF.StreamService" behaviorConfiguration="">
        <endpoint name="" address="" behaviorConfiguration="" binding="netHttpBinding" bindingConfiguration="StreamNetHttpBinding" contract="Test.WCF.UnitTest.WCF.IStreamService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
