<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="msmqintegrationservice" value=".\private$\msmqintegrationservice" />
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="Test.WCF.Msmq.Services.MsmqIntegrationService" >
        <endpoint address="msmq.formatname:DIRECT=OS:.\private$\msmqintegrationservice"
							    binding="msmqIntegrationBinding"
                  bindingConfiguration="BindingWithJournaling"
                  contract="Test.WCF.Msmq.Services.IMsmqIntegrationService">
        </endpoint>
      </service>
    </services>
    <bindings>
      <msmqIntegrationBinding>
        <binding name="BindingWithJournaling" useSourceJournal="true" exactlyOnce="false" >
          <security mode="None" />
        </binding>
      </msmqIntegrationBinding>
    </bindings>
  </system.serviceModel >
</configuration>